.hero {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: bottom;
}
.hero-center {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
}

.footer {
    width: 100%;
    height: 10rem;
    background-color: #212529;
    margin-top: 10rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 10rem;  
}

/* Font */
.center-text {
    text-align: center;
}
.red-font {
    color: #FF0000;
}
.text-block {
    margin-top: 4rem;
}